@font-face {
    font-family: "Pacifico-Regular";
    src: url('./Pacifico-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UnidreamLED";
    src: url('./UnidreamLED.ttf');
    font-weight: normal;
    font-style: normal;
}