@font-face {
    font-family: "Pacifico";
    src: url('./Pacifico.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UnidreamLED";
    src: url('./UnidreamLED.ttf');
    font-weight: normal;
    font-style: normal;
}