body {
    margin: 0;
}

* {
    cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='10px' height='10px'><circle cx='4' cy='4' r='4' fill='white' /></svg>") 4 4, auto !important;
}

i {
    font-style: normal !important;
}

.el-message {
    --el-message-bg-color: #00000040 !important;
    --el-message-text-color: #efefef !important;
    border-radius: 25px !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-color: transparent !important;
}